* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}


/* global styles */

.colour-green {
    color: #6C9A5F;
}


/* fonts */

@font-face {
    font-family: blueCashew;
    src: url("../assets/fonts/Blue_Cashews.otf") format("opentype");
}

@font-face {
    font-family: Belgiano;
    src: url("../assets/fonts/Belgiano_Serif_2.ttf") format("truetype");
}

@font-face {
    font-family: Gameboy;
    src: url("../assets/fonts/Early_GameBoy.ttf") format("truetype");
}

@font-face {
    font-family: Pixeled;
    src: url("../assets/fonts/Pixeled.ttf") format("truetype");
}

@font-face {
    font-family: Edensor;
    src: url("../assets/fonts/Edensor-FREE.otf") format("opentype");
}


/* navigation bar */

.header-nav-bar-container {
    width: 100%;
    height: 130px;
    background-color: #F3F1EB;
}

.header-name-left-container {
    width: 35%;
    height: 100%;
    float: left;
}

.header-nav-right-container {
    width: 65%;
    height: 100%;
    float: right;
    
}

.navigation-list-container li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    transition-duration: 0.2s;
  
}

.navigation-list-container a {
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}

.navigation-list-container .navSelected {
    color: #6C9A5F;
    transition-duration: 0.2s;
}

.navigation-list-container li:hover {
    color: #6C9A5F;
    cursor: pointer;
    transition-duration: 0.2s;
}

.navigation-list-container ul {
    padding-top: 52px;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-align: right;
}

.navigation-list-container {
    padding-right: 50px;
}

.header-name-container {
    padding-top: 43px;
    padding-left: 70px;
    letter-spacing: 1px;
}

.header-name-container a {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}

.header-name-container a:hover {
    color: #6C9A5F;
    transition-duration: 0.3s;
}

.header-name-container h1 {
    font-family: Gameboy;
    font-size: 30px;
}


/* introduction section */

.introduction-whole-container {
    width: 100%;
    min-height: 550px;
    background-color: #F3F1EB;
}

.introduction-padding {
    width: 80%;
    height: 100%;
    margin: 0 auto;

}

.introduction-image-left-flex {
    width: 45%;
    float: left;
}

.introduction-text-right-flex {
    width: 55%;
    float: right;
}

.polaroid-white-container {
    width: 300px;
    height: 380px;
    background-color: white;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.75);
}

.polaroid-image-container {
    width: 260px;
    height: 260px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: black;
}

.polaroid-image-container img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.introduction-text-padding {
    width: 90%;
    padding-left: 50px;
    padding-top: 110px;
}

.introduction-heading-container h1{
    font-family: Gameboy;
    font-size: 30px;
}

.introduction-description-container {
    padding-top: 20px;
    width: 90%;
}

.introduction-description-container p {
    font-family: "Figtree", sans-serif;
    font-size: 17px;
    line-height: 2em;
    font-weight: 300;
    color: #4B4B4B;
}

.introduction-button-container {
    padding-top: 25px;
}

.introduction-button-container button {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    background-color: #6C9A5F;
    color: white;
    border: none;
    font-family: "Figtree", sans-serif;
    font-size: 17px;
    border: solid 2px #6C9A5F;
    transition-duration: 0.3s;
    font-weight: 400;

}

.introduction-button-container button:hover {
    background-color: #F3F1EB;
    border: solid 2px #6C9A5F;
    transition-duration: 0.3s;
    color: #6C9A5F;
    cursor: pointer;
}

.introduction-grad-container {
    padding-top: 20px;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #6C9A5F;
    
    width: 80%;
    line-height: 2em;
}

.fa-user-graduate {
    padding-right: 5px;
    color: #6C9A5F;
}

.polaroid-information-container {
    width: 83%;
    margin: 0 auto;

}

.polaroid-information-container li {
    list-style-type: none;
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    color: #4B4B4B;
    font-weight: 300;
    padding-bottom: 5px;
}

.polaroid-information-container ul {
    padding-top: 25px;
}

.polaroid-information-container .fa-envelope {
    padding-right: 5px;
}

.polaroid-information-container .fa-map-pin {
    padding-right: 8px;
    padding-left: 2px;
}

.polaroid-information-container .fa-github {
    padding-right: 5px;
}

.polaroid-information-container a {
    text-decoration: none;
}

.polaroid-information-container a:hover li {
    color: #6C9A5F;
}



/* portfolio glimpse */

.portfolioglimpse-whole-container {
    width: 100%;
    overflow: auto;
    background-color: white;
}

.portglimpse-title-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.portglimpse-title-container h1 {
    font-family: Gameboy;
    font-size: 30px;
}

.portglimpse-button-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.portglimpse-button-container button {
    width: 200px;
    height: 45px;
    border-radius: 15px;
    background-color: #6C9A5F;
    color: white;
    border: none;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    border: solid 2px #6C9A5F;
    transition-duration: 0.3s;
    font-weight: 400;
}

.portglimpse-button-container button:hover {
    background-color: white;
    border: solid 2px #6C9A5F;
    transition-duration: 0.3s;
    color: #6C9A5F;
    cursor: pointer;
}

.portglimpse-desc-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    
}

.portglimpse-desc-container p {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 2em;
}

.portfolioreel-whole-container {
    width: 80%;
    overflow: auto;
    background-color: white;
    float: left;
    min-height: 500px;

}

.portfolioreel-padding {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.portfolioreel-title-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5em;
}

.portfolioreel-title-container h2 {
    font-family: Gameboy;
    font-size: 25px;
}

.portfolioreel-image-container {
    width: 60%;
    margin: 0 auto;
    height: auto;
    padding-top: 20px;
    border-radius: 15px;
    min-height: 350px;
    background-color: white;
}

.portfolioreel-image-container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
}

.languagesused-information-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.languagesused-information-container p {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #6C9A5F;
}

.languagesused-information-container .fa-code {
    padding-right: 10px;
}

.portfolioreel-desc-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.portfolioreel-desc-container p {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 2em;
}

.portfolioreel-github-button-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.portfolioreel-github-button-container button {
    width: 160px;
    height: 45px;
    border-radius: 15px;
    background-color: #6C9A5F;
    color: white;
    border: none;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    border: solid 2px #6C9A5F;
    transition-duration: 0.3s;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
}

.portfolioreel-github-button-container button:hover {
    background-color: white;
    border: solid 2px #6C9A5F;
    transition-duration: 0.3s;
    color: #6C9A5F;
    cursor: pointer;
}

.portfolioreel-flex-container {
    width: 100%;
    overflow: auto;
    min-height: 500px;
    
}

.portfolioreel-leftarrow-container {
    width: 10%;
    float: left;
}

.portfolioreel-rightarrow-container {
    width: 10%;
    float: right;
}

.portfolioreel-leftarrow-container p {
    font-size: 40px;
    padding-top: 400px;
    text-align: right;
    color: black;
    transition-duration: 0.3s;
}

.portfolioreel-rightarrow-container p {
    font-size: 40px;
    padding-top: 400px;
    text-align: left;
    color: black;
    transition-duration: 0.3s;
}

.portfolioreel-leftarrow-container p:hover {
    color: #6C9A5F;
    transition-duration: 0.3s;
    cursor: pointer;
}

.portfolioreel-rightarrow-container p:hover {
    color: #6C9A5F;
    transition-duration: 0.3s;
    cursor: pointer;
}


/* work experience */

.workexperience-whole-container {
    width: 100%;
    overflow: auto;
    background-color: #F3F1EB;
}

.workexperience-title-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

.workexperience-title-container h1 {
    font-family: Gameboy;
    font-size: 30px;
}

.workexperience-list-whole-container {
    width: 60%;
    margin: auto;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.workexperience-list-container {
    width: 100%;
    background-color: white;
    overflow: auto;
    border-radius: 20px;
    margin-bottom: 50px;
}

.workexperience-list-padding {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.workexperience-list-title-container h3 {
    font-family: Gameboy;
    font-size: 17px;
}

.workexperience-date-container {
    padding-top: 10px;
}

.workexperience-date-container p {
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #616161;
}

.workexperience-date-container .fa-calendar-days {
    padding-right: 6px;
}

.workexperience-list-resp-container {
    padding-top: 15px;
}

.workexperience-list-resp-container h4 {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
}

.workexperience-list-resp-container ul {
    padding-left: 15px;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #616161;
    padding-top: 10px;
}

.workexperience-list-resp-container li {
    padding-bottom: 10px;
}


/* portfolio full view */

.portfull-whole-container {
    background-color:#F3F1EB;
}

.portfull-project-container {
    width: 100%;
    height: 540px;
}

.portfull-image-container {
    width: 50%;
    float: left;
    height: 500px;
    overflow: hidden;
}

.portfull-info-container {
    width: 50%;
    float: right;
    height: 500px;
    background-color: white;
}

.portfull-language-selector-container {
    width: 92%;
    margin: 0 auto;
    padding-top: 30px;
    
    
}

.portfull-language {
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

.portfull-language-selector-container button {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #F3F1EB;
    color: #6C9A5F;
    border: solid 1.5px #6C9A5F;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    transition-duration: 0.3s;
    font-weight: 400;
}

.portfull-language-selector-container button:hover {
    background-color: #6C9A5F;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.portfull-title-container {
    width: 91%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}

.portfull-title-container h1 {
    font-family: Gameboy;
    font-size: 30px;
}

.portfull-desc-container {
    padding-left: 5px;
    padding-top: 10px;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    color: #616161;
    text-align: center;
    font-weight: 300;
}

.green-fill button {
    background-color: #6C9A5F;
    color: white;

}


.portfull-image-container img {
    width: auto;
    height: 100%;
}

.portfull-project-title-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.portfull-project-title-container h2 {
    font-family: Gameboy;
}

.portfull-project-padding {
    padding-top: 55px;
}

.portfull-project-desc-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.portfull-project-desc-container p {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 2em;
    text-align: center;
}

.portfull-project-langused-container {
    padding-top: 10px;
}

.portfull-project-buttons-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.portfull-project-buttons-container button {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #6C9A5F;
    color: white;
    border: solid 1.5px #6C9A5F;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    transition-duration: 0.3s;
    font-weight: 400;
}

.portfull-project-buttons-container button:hover {
    background-color: white;
    color: #6C9A5F;
    transition-duration: 0.3s;
    cursor: pointer;
}

.portfull-info-container-left {
    width: 50%;
    float: left;
    height: 500px;
    background-color: white;
}

.portfull-image-container-right {
    width: 50%;
    float: right;
    height: 500px;
    overflow: hidden;
}

.portfull-image-container-right img {
    width: 100%;
    height: 100%;
}

.deadlinedash-padding {
    padding-top: 25px;
}

.portfull-hr-container {
    width: 100%;
    height: 40px;
    background-color: #F3F1EB;
}

.deadlinedash-img img {
    width: 100%;
    height: auto;
}

.picassoproject-padding {
    padding-top: 90px;
}

.tadpole-project-padding {
    padding-top: 120px;
}

.oakhamfarm-padding {
    padding-top: 90px;
}

.portfull-noselection-container {
    width: 100%;
    background-color: white;
    height: 600px;
}

.portfull-noselection-padding {
    padding-top: 50px;
}

.portfull-noselection-title-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: Gameboy;
    color: black;
}

.portfull-noselection-desc-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.portfull-noselection-desc-container p {
    text-align: center;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 2em;
}



/* media queries */

/* Homepage */

/* larger screens */

@media only screen and (min-width: 921px) {

    .polaroid-white-container {
        float: right;
        margin-right: 0px;
        rotate: 0;
    }

    .polaroid-white-container {
        transform-origin: 50% 50%;
        transform: rotate(3deg);
    }

    .introduction-padding {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .introduction-image-left-flex {
        height: 100%;
    }

    .introduction-text-right-flex {
        height: 100%;
    }

    .small-menu-container {
        display: none;
    }

    .smaller-burger-menu-container {
        display: none;
    }
}
/* smaller screens*/

@media only screen and (max-width: 1200px) {

    .portfolioreel-image-container {
        min-height: 250px;
    }
}


@media only screen and (max-width: 1100px) {
    .portfolioreel-image-container {
        min-height: 220px;
    }
}

@media only screen and (max-width: 920px) { 

    .introduction-padding {
        display: block;
    }

    .introduction-image-left-flex {
        width: 100%;
    }

    .introduction-text-right-flex {
        width: 100%;
    }

    .introduction-whole-container {
        min-height: 800px;
        overflow: auto;
    }

    .polaroid-white-container {
        text-align: center;
        margin: 0 auto;
        margin-top: 80px;
    }

    .polaroid-image-container {
        position: relative;
        top: 20px;
    }

    .polaroid-information-container {
        margin-top: 20px;
    }

    .introduction-text-right-flex {
        text-align: center;
        padding-bottom: 100px;
        
    }

    .introduction-text-padding {
        padding-top: 50px;
        width: 100%;
        padding-left: 0px;
    }

    .introduction-description-container {
        width: 90%;
        margin: 0 auto;
    }

    .introduction-grad-container {
        margin: 0 auto;
        text-align: center;
    }

    .polaroid-information-container li {
        text-align: left;
    }

    .portfolioreel-padding {
        margin-top: 40px;
    }

    .portfolioreel-title-container h2 {
        font-size: 22px;
        line-height: 1.6em;
    }

    .portfolioreel-image-container {
        width: 100%;
    }

    .portfolioreel-desc-container {
        width: 95%;
    }

    .portfolioreel-github-button-container {
        padding-top: 50px;
    }

    .portfolioreel-rightarrow-container p {
        font-size: 35px;
    }

    .portfolioreel-leftarrow-container p {
        font-size: 35px;
    }

    .workexperience-list-whole-container {
        width: 80%;
    }

    .larger-full-menu-container {
        display: none;
    }

    .header-name-left-container {
        width: 60%;
    }

    .header-nav-right-container {
        width: 40%;
    }

    .smaller-burger-menu-container li {
        font-size: 20px;
        font-family: gameboy;
        text-align: right;
    }

    .navigation-list-container {
        padding-right: 20px;
        padding-top: 15px;
    }

    .navigation-list-container li {
        padding-right: 20px;
        transition-duration: 0.3s;

    }

    .navigation-list-container ul {
        padding-top: 35px;
    }

    .navigation-list-container li:hover {
        color: #6C9A5F;
        transition-duration: 0.3s;
        cursor: pointer;

    }

    .header-name-container {
        padding-left: 40px;
    }


    /* small menu */

    .small-menu-container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(108, 154, 95, 0.95);
        position: absolute;
        top: -100vh;
        left: 0;
        z-index: 100;
        display: flex;
        transition: all .2s ease;
        overflow-y: hidden;
    }

    .small-menu-open {
        top: 0;
        transition: all .2s ease;
    }

    .small-menu-padding {
        width: 80%;
        margin: auto auto;
    }

    .small-menu-title h2 {
        text-align: center;
        font-family: gameboy;
        color: white;
        font-size: 30px;
    }

    .small-menu-list-container {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    .small-menu-list-container li {
        padding-bottom: 30px;
        font-family: "Figtree", sans-serif;
        list-style-type: none;
        font-size: 25px;
        font-weight: 300;
    }

    .small-menu-list-container ul {
        padding-top: 20px;
    }

    .small-menu-list-container a {
        color: white;
        text-decoration: none;
        transition-duration: 0.3s;
    }

    .small-menu-list-container a:hover {
        color: black;
        transition-duration: 0.3s;
        cursor: pointer;
    }

    .small-menu-close-container h2 {
        text-align: center;
        font-family: gameboy;
        color: white;
        font-size: 30px;
        padding-top: 30px;
    }

}


@media only screen and (max-width: 500px) {

    .header-nav-right-container {
        display: none;
    }

    .header-name-left-container {
        width: 100%;
        text-align: center;
    }

    .header-name-container {
        padding-left: 0px;
        width: 90%;
        margin: 0 auto;
    }

    .polaroid-white-container {
        margin-top: 25px;
    }

    .mobile-screen-menu-button-container {
        width: 100%;
        height: 70px;
        background-color: #6C9A5F;
    }

    .mobile-screen-button {
        text-align: center;
        padding-top: 20px;
    }

    .mobile-screen-button button {
        border: none;
        background-color: #6C9A5F;
        color: white;
        font-family: gameboy;
        font-size: 25px;
    }

    .portfolioreel-leftarrow-container p {
        font-size: 30px;
        padding-top: 55px;
    }

    .portfolioreel-rightarrow-container p {
        font-size: 30px;
        padding-top: 55px;
    }

    .portfolioreel-padding {
        width: 100%;
        margin-bottom: 70px;
    }

    .portfolioreel-image-container {
        min-height: 0px;
    }

    .portfolioreel-github-button-container button {
        margin-bottom: 15px;
    }

    .portglimpse-title-container h1 {
        font-size: 25px;
    }

    .workexperience-title-container h1 {
        font-size: 25px;
    }

    .workexperience-title-container {
        width: 90%;
    }

    .workexperience-list-padding {
        width: 85%;
    }

}





